<body style="text-align: center;">
      <img class="img-not-found" src ="../../../assets/imagenes/404 1.avif" class="logo" width="650" height="650">
      <section class= "404-container">
          <h1>ERROR 404</h1>
        
          <H2>Opp... Pagina no encontrada</H2>

          <p>¡Lo siento, la página que estás buscando no existe!</p>
          
          <p>Aquí hay algunas cosas que puedes hacer:</p>
        
          <div class="bottom-btn">
            <ul>
              <li><a href="./" title="Volver a la página de inicio">Regresar al inicio</a></li>
              <li><a href="./contacto" title="Contactar con atención al cliente">Contactarte con nosotros</a></li>
            </ul>
          </div>
      </section>
    </body>
