/* html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;    
}

footer{
    margin-top: auto;
} */
 .arrepentimiento-footer {
  text-align: center;
  margin: 15px 0;
}

.btn-arrepentimiento {
  background-color: #ff6666;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.btn-arrepentimiento:hover {
  background-color: #cc4d4d;
}
