<footer class="footer__galeria">
  <div class="direccion direccion__galeria pt-5">
    <h3>Encontranos en nuestro local</h3>
    <p>Dirección: 123 Calle de las Mascotas, Ciudad Mascotaville</p>
  </div>

  <div class="botones-footer">
        <!-- Botón de Arrepentimiento -->
    <div class="arrepentimiento-footer">
        <a routerLink="/arrepentimiento" class="btn-arrepentimiento">
        Botón de Arrepentimiento
        </a>
    </div>

        <!-- Botón de Política de Privacidad -->
    <div class="arrepentimiento-footer">
        <a routerLink="/politica-privacidad" class="btn-politica-privacidad">
        Política de Privacidad
        </a>
    </div>
  </div>

  <div class="derechos-de-autor">
    <p>&copy; 2023 Pet Boutique. Todos los derechos reservados.</p>
  </div>
</footer>
