 .arrepentimiento-footer {
  text-align: center;
  margin: 15px 0;
}

.btn-arrepentimiento {
  background-color: #ff6666;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 0 1rem 0 1rem;
}

.btn-arrepentimiento:hover {
  background-color: #cc4d4d;
}

.btn-politica-privacidad {
  background-color: #9a54c9;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s ease;
  cursor: pointer;
  margin: 0 1rem 0 1rem;
}

.btn-politica-privacidad:hover {
  background-color: #7739a0;
}

.botones-footer{
  display: flex;
  justify-content: center;
}