<div class="mini-cart">
  <div class="cart-icon" (click)="toggleCart()">
    <i class="fa fa-shopping-cart fs-5 me-1" style="color: #202122;"></i>
    <span class="badge badge-pill badge-danger">{{ productosCarrito.length }}</span>
  </div>
  <div class="cart-dropdown" *ngIf="isCartOpen">
    <div *ngFor="let productoCarrito of productosCarrito" class="p-2 border-bottom d-flex justify-content-between align-items-center">
      <div>
        <img [src]="productoCarrito.producto.image_url" class="img-fluid p-2" alt="" style="height: 70px !important;width: 100px !important;">
      </div>
      <div class="flex-grow-1 ms-3">
        <a href="#" class="text-decoration-none text-black fw-semibold">
          <p class="m-0 p-0">{{ productoCarrito.producto.nombre }}</p>
        </a>
        <p>1 <i class="fa-solid fa-xmark" style="color: #0d0d0d;"></i> ${{ productoCarrito.producto.precio }}</p>
      </div>
      <button type="button" class="btn fs-5 closeBtn" (click)="removeFromCart(productoCarrito)"><i  class="fas fa-times" ></i></button>
    </div>
    <div class="p-2 d-flex justify-content-between">
      <h6>SubTotal :</h6>
      <h6>${{ calculateTotal() }}</h6>
    </div>
    <div class="d-flex justify-content-evenly mt-2">
      <button class="btn btn-danger rounded-0 px-3" (click)="checkout()" [routerLink]="['/checkout']">Finalizar compra</button>
    </div>
  </div>
</div>

