<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado Envios</title>
    <link rel="stylesheet" href="estadoenvios.component.css">
</head>
<body>
    
    <header>
      <h1> Detalles del envio</h1>
    </header>
  
  
      </style>
      </head>
      <body>
      
        <h2>Detalles</h2>
      <div class="table-container">
        <table class="table-primary">
          <thead>
            <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Orden de Compra</th>
              <th>Fecha</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Collar para gatos</td>
              <td>#0001</td>
             <td>18/01/2024</td>
              <td>$2000</td>
            </tr>
            
          </tbody>
          <tbody>
            <tr>
              <td>2</td>
              <td>Comedero</td>
              <td>#0001</td> 
              <td>18/01/2024</td>     
              <td>$2000</td>
            </tr>
          </tbody>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Monto Total: $4000</td>
          </tr>
          </tbody>


        </table>
      </div>
      
       
      </head>
      <body>
        <div class="rectangle">
          <h4>Envio a domicilio,  Domicilio: Jujuy 1000, Ciudad Mascotaville  CP:8000</h4>
        </div>
      
      
      <h2>Detalles</h2>
      <div class="table-container">
        <table class="table-primary">
          <thead>
            <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Orden de Compra</th>
              <th>Fecha</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Collar para perros</td>
              <td>#0002</td>
              <td>23/02/2024</td>
              <td>$2000</td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Monto Total: $2000</td>
            </tr>
            </tbody>
         

        </table>
      </div>

      <title>Rectángulo con texto</title>
    </head>
    <body>
      <div class="rectangle">
        <h4>Envio a domicilio,  Domicilio: Jujuy 1000, Ciudad Mascotaville  CP:8000</h4>
      </div>


      <h2>Detalles</h2>
      <div class="table-container">
        <table class="table-primary">
          <thead>
            <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Orden de Compra</th>
              <th>Fecha</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Correa</td>
              <td>#0003</td>
              <td>10/03/2024</td>
              <td>$2000</td>
            </tr>
            
          </tbody>
          <tbody>
            <tr>
              <td>2</td>
              <td>Rascador</td>
              <td>#0003</td>
              <td>10/03/2024</td>
              <td>$2000</td>
            </tr>
          </tbody>

        <tbody>
          <tr>
            <td>3</td>
            <td>Bolso Trasportador</td>
            <td>#0003</td>
            <td>10/03/2024</td>
            <td>$2000</td>
          </tr>
          </tbody>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Monto Total: $6000</td>
            </tr>
            </tbody>
         
        </table>
      </div>


      <title>Rectángulo con texto</title>
    </head>
    <body>
      <div class="rectangle">
        <h4>Retiro en Local, Domicilo: Calle de las Mascotas 123, Ciudad Mascotaville</h4>
      </div>


      <h2>Detalles</h2>
      <div class="table-container">
        <table class="table-primary">
          <thead>
            <tr>
              <th>#</th>
              <th>Producto</th>
              <th>Orden de Compra</th>
              <th>Fecha</th>
              <th>Precio</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Cucha Cat</td>
              <td>#0004</td>
              <td>01/04/2024</td>
              <td>$3500</td>
            </tr>
            
          </tbody>
          <tbody>
            <tr>
              <td>2</td>
              <td>Cucha Cat</td>
              <td>#0004</td>
              <td>01/04/2024</td>
              <td>$3500</td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>Monto Total: $7000</td>
            </tr>
            </tbody>
        

        </table>
      </div>

      
      <title>Retiro en el Local</title>
    </head>
    <body>
      <div class="rectangle">
       
        <h4>Retiro en Local, Domicilio: Calle de las Mascotas 123, Ciudad Mascotaville</h4>
        
      </div>

</body>
</html>