<div class="body__galeria">

	<!-- Encabezado-->
	<header class="header__galeria">
		<section class="textos-header">
			<h1 class="">Galeria de Productos</h1>
		</section>
		<section class="division">
			<h2 class="subtitulo__galeria pulse">Encontrá todo para tu mascota</h2>
		</section>
	</header>

	<!-- Lista de categorias y productos -->

	@for (categoria of categorias; track $index) {
		
		<section class="categoria__titulo--section">
			<h2 class="categoria__titulo">{{categoria.nombre}}</h2>
		</section>	

		<div class="row">
		@for (producto of getProductosPorCategoria(categoria.id_categoria_producto); track $index) {
			<div class="col-md-4 col-sm-12 pt-3 pb-3">
				<div class="item">
					<figure class="items__figure">
						<img class="items__img" [src]="producto.image_url" alt="producto">
					</figure>
					<div>
						<h2 class="titulo__productos">{{producto.nombre}}</h2>
						<p class="descripcion__productos">{{producto.descripcion}}</p>
						<p class="price">${{producto.precio}}</p>
					</div>	
				</div>
				<button (click)="addToCart(producto)" class="btn btn-primary">Agregar al carrito</button>
			</div>
		}
		</div>
	}

</div>