<div class="body__galeria">

	<!-- Encabezado-->
	<header class="header__galeria">
		<section class="textos-header">
			<h1 class="">Galeria de Productos</h1>
		</section>
		<section class="division">
			<h2 class="subtitulo__galeria pulse">Encontrá todo para tu mascota</h2>
		</section>
	</header>

	  <!-- 🔍 Filtro y búsqueda -->
	  <app-filtro-productos
	  [categorias]="categorias"
	  (categoriaSeleccionada)="onCategoriaSeleccionada($event)"
	  (textoBusqueda)="onTextoBusqueda($event)">
	</app-filtro-productos>

	<!-- Lista de categorias y productos -->

	@for (categoria of categoriasVisibles; track $index) {
		
		<section class="categoria__titulo--section">
			<h2 class="categoria__titulo">{{categoria.nombre}}</h2>
		</section>	

		<div class="row">
		@for (producto of getProductosPorCategoria(categoria.id_categoria_producto); track $index) {
			<div class="col-md-4 col-sm-12 pt-3 pb-3">
				<div class="item" (click)="verDetalle(producto)">
					<figure class="items__figure">
						<img class="items__img" [src]="producto.image_url" alt="producto">
					</figure>
					<div>
						<h2 class="titulo__productos">{{producto.nombre}}</h2>
						<p class="descripcion__productos">{{producto.descripcion}}</p>
						<p class="price">${{producto.precio}}</p>
					</div>
					<button (click)="addToCart(producto); $event.stopPropagation()" class="btn btn-primary custom-btn">Agregar al Carrito</button>	
				</div>
			</div>
		}
		</div>
	}

  <!-- Modal flotante de detalle -->
   @if (selectedProducto) {
	<div class="producto-detalle-modal" (click)="cerrarDetalle()">
		<div class="modal-content animate-fade" (click)="$event.stopPropagation()">
		  <span class="close" (click)="cerrarDetalle()">&times;</span>
		  <img [src]="selectedProducto.image_url" alt="producto" class="detalle-img">
		  <h2>{{ selectedProducto.nombre }}</h2>
		  <p>{{ selectedProducto.descripcion }}</p>
		  <p class="price">${{ selectedProducto.precio }}</p>
		  <button (click)="addToCart(selectedProducto)" class="btn btn-primary custom-btn">Agregar al carrito</button>
		</div>
	  </div>
   }
  

</div>