.btn-primary.custom-btn {
    background-color: #44f3be; /* Color verde agua */
    border-color: #20c997; /* Color del borde */
    color: rgb(37, 0, 58); /* Color del texto */
    padding: 5px 20px; /* Ajusta el padding según tu preferencia */
    border-radius: 4px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
    width: fit-content; /* Ajusta el ancho del botón al contenido */
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    margin: 0 auto; /* Centra el botón horizontalmente */
    display: block; /* Necesario para que margin: auto funcione */
  }
  
  .btn-primary.custom-btn:hover {
    background-color: #1bb387; /* Color verde más oscuro para el hover */
    border-color: #1bb387; /* Color del borde en hover */
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .producto-detalle-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 500px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  }
  
  .detalle-img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }
  
  .close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: #555;
    transition: color 0.2s ease-in-out;
  }
  .close:hover {
    color: #000;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-fade {
    animation: fadeIn 0.3s ease-out;
  } 
