<main>
    <form class="form__contacto container" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      <div class=" text-align-center">
        <h2 class="form__contacto--title">PONETE EN CONTACTO O DEJANOS TUS DATOS Y NOS
          COMUNICAREMOS A LA BREVEDAD</h2>

          <div class="div-inputs-contacto">

            <div class="input-box-contacto">
              <label class="label__contacto" for="nombre">Ingrese su nombre:</label>
              <input class="input__contacto form-control" type="text" id="nombre" name="nombre"   formControlName="nombre" required>
            </div>
            <br>
            <div class="input-box-contacto">
              <label class="label__contacto" for="telefono">Ingrese su teléfono:</label>
              <input class="input__contacto form-control" type="tel" id="telefono" name="telefono"  formControlName="telefono" required>
            </div>
            <br>
            <div class="input-box-contacto">
              <label class="label__contacto" for="email">Email:</label>
              <input class="input__contacto form-control" type="email" id="email" name="email"  formControlName="email" required>
            </div>
            <br>
            <label class="label__contacto" for="mensaje">Deje su mensaje:</label>
            <textarea class="input__contacto textarea-contacto form-control" type="text" id="mensaje" name="mensaje"  formControlName="mensaje" required></textarea>
          </div>
  

        <input type="submit" value="Enviar" class="form__contacto--btn">

        <div class="div_iconos-contacto text-align-center">
          <img src="../../../assets/imagenes/Contacto/telefono.png" alt="imagen de telefono" class="icono-contacto"><a href="#" class="cta">3518542789 </a>
          <img src="../../../assets/imagenes/Contacto/correo.png" alt="correo electronico" class="icono-contacto">
          <a href="mailto:{{email}}" class="cta">{{email}}</a>          
          <img src="../../../assets/imagenes/Contacto/ubicacion.png" alt="ubicacion" class="icono-contacto"><a href="https://www.google.com/maps/place/C%C3%B3rdoba/@-31.3990547,-64.3590249,11z/data=!3m1!4b1!4m6!3m5!1s0x9432985f478f5b69:0xb0a24f9a5366b092!8m2!3d-31.4200833!4d-64.1887761!16zL20vMDFrMDNy?authuser=0&entry=ttu"
            target="_blank" class="cta">Cordoba Capital</a>
        </div>
      </div>

      <div *ngIf="mensajeExito" class="popup-overlay" (click)="cerrarPopup()">
        <div class="popup-content" (click)="$event.stopPropagation()">
          <button class="cerrar-btn" (click)="cerrarPopup()">×</button>
          ¡Tu mensaje fue enviado con éxito!
        </div>
      </div>
      
    </form>
  </main>
  