<main>
    <form class="form__contacto">
      <div class="form__contacto--container">
        <h2 class="form__contacto--title">PONETE EN CONTACTO O DEJANOS TUS DATOS Y NOS
          COMUNICAREMOS A LA BREVEDAD</h2>
        <input type="text" class="form__contacto--input" placeholder="Ingrese su nombre" required>
        <input type="tel" class="form__contacto--input" placeholder="Ingrese su telefono" required>
        <input type="email" class="form__contacto--input" placeholder="Email" required>
        <textarea class="form__contacto--input form__contacto--input--message" placeholder="Deja tu mensaje: "></textarea>

        <input type="submit" value="Enviar" class="form__contacto--btn">
        <a href="#" class="cta"><i class="fas fa-phone"></i> 3518542789 </a>
        <a href="https://gmail.com" target="_blank" class="cta"><i class="fa fa-envelope"></i>{{email}}</a>
        <a href="https://www.google.com/maps/place/C%C3%B3rdoba/@-31.3990547,-64.3590249,11z/data=!3m1!4b1!4m6!3m5!1s0x9432985f478f5b69:0xb0a24f9a5366b092!8m2!3d-31.4200833!4d-64.1887761!16zL20vMDFrMDNy?authuser=0&entry=ttu"
          target="_blank" class="cta"> <i class="fas fa-map-marker"></i>Cordoba Capital</a>
      </div>
    </form>
  </main>