/* Estilos generales */
body, .header__galeria, .fondo-seccion{
    width: 100%;
    background: #8360c3a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf919c, #8360c3a2), url(assets/imagenes/portadala.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2ebf91a6, #8360c3b6), url(assets/imagenes/portadala.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    position: relative; 
}


.body__galeria, .body__landing{
    background: white;
}

footer{
    background-color: white;
    padding: 0.625rem;
    margin-top: auto;
    overflow: hidden;
    text-align: center; 

}

.footer__login{
    height: 4.375rem;

}

.direccion {
    text-align: center;
    font-size: 24px;
}

.derechos-de-autor {
    font-family: "open sans";
    text-align: center;
}

.copy {
    margin: auto;
}

/* Estilos contacto */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__contacto, .fondo-seccion{
    height: 900px;
    background-attachment: fixed;  
}


/* Nav contacto */

.nav__contacto{
    text-align: left;
    margin-bottom: 100px;
}

nav > a{
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    margin-right: 30px;
    transition: all .5s;
}

nav > a:hover{
    /* text-decoration: underline; Flor habia hecho esto yo lo anulo */
    color: #3B0086;
    background-color: #00000000;
}

/* Form contacto */

.form__contacto {
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
    margin-bottom: 80px;

}

.form__contacto--container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.form__contacto--title {
    text-align: center;
    font-size: 1.9rem;
    font-size: 1.3rem;
    font-weight: bolder;
    margin-bottom: .4em;
}

.form__contacto--input {
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
}

.form__contacto--input:hover {
    outline: auto;
    outline-color:#089fe0 ;
}

.form__contacto--input--message {
    resize: none;
    padding: 1.8em 1em;
    margin-bottom: .5em;
}

.form__contacto--btn {
    background-color: #089fe0;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
    padding: .7em 0;
    border-radius: .2em;
    cursor: pointer;
    transition: background-color .3s;
}

.form__contacto--btn:hover {
    background-color: #04587c;
}

.cta {
    text-decoration: none;
    transition: color .3s;
}

.cta:hover {
    color: #905dc0;
}

i {
    margin-right: 30px;
}

@media (max-width: 450px) {
    .form__contacto {
        padding: 3.5em 1em;
    }
}

/* ---------------------------------------*/

/* Estilos galeria* */

/* Header galeria */

.header__galeria {
    height: 500px;
}

.textos-header {
    font-weight: 550;
    font-size: 60px;
    color: rgb(31, 13, 46);
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.division {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.subtitulo__galeria{
    font-weight: 500;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

/* Textos categorias galeria */ 

.acces__titulo{
    font: bolder italic 40px 'open sans' ;
    color: #370464;
    padding-top: 3rem;

}

.acces__titulo--section {
    height: 100px;
    width: 100%;
    text-align: center;
}

.titulo__productos{
    font: bold 27px 'open sans';
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

.descripcion__productos{
    font: 500 italic 20px 'open sans';
    padding: 0 2rem;
}

.price { 
    font: 900 21px 'open sans' ;
    color: rgb(0, 0, 0);
}

/* Tarjetas productos */ 

.item {
    border-radius: 30px;
    background-color: rgba(160, 120, 223, 0.425);
    height: 700px;
    text-align: center;
}

.item:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.items__img{
    width: 100%;
    height: 450px;
    object-fit: contain;
    border-radius: 15px 15px 0 0;
    transition: all .5s;
}

.items__figure{
    overflow: hidden;
}

.items__img:hover{
    transform: scale(1.2);
}

@media (max-width: 1160px){
    .item{
        height: 800px;
    }
}

@media (max-width: 900px){
    .item{
        height: 900px;
    }
}

/* Footer galeria */

.footer__galeria {
    font-family: "open sans";
    background-color: rgb(220, 252, 242);
    padding: 60px 0 30px 0;
}

.direccion__galeria{
    font-weight: 550;
    font-size: 24px;
}

@media (max-width:800px) {

    #central {
        flex-direction: column;
    }

}


/* ---------------------------------------*/

/* Estilos registro */

.body__registro{
    text-align: center;
    margin: 0;
    background-attachment: fixed;
    height: 700px;
}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.3125rem;
}

/* Form Registro */

.container{
    margin-top: 40px;
    margin-bottom: 60px;
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container__title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container__title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.label__registro{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.input__registro{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus, .user-details .input-box input:valid{
    border-color: #9b59b6;
}

#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
}

form input[type="radio"]{
     display: none;
}

form .button{
     height: 45px;
     margin: 35px 0
}

form .button input{
     height: 100%;
     width: 100%;
     border-radius: 5px;
     border: none;
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     letter-spacing: 1px;
     cursor: pointer;
     transition: all 0.3s ease;
     background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover{
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px){

   .container{
    max-width: 100%;
  }

  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
  }

  form .category{
      width: 100%;
  }

  .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar{
      width: 5px;
  }
}

@media(max-width: 459px){
  
    .container .content .category{
      flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .col-md-6 {
        width: 80%;
        margin: auto;
    }

    .button {
        font-size: 1rem;
        padding: 0.5rem 1.25rem;
    }
}

/* ---------------------------------------*/

/* Estilos login */

.body__login{
    text-align: center;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background-attachment: fixed;
}

.form__login {
    max-width: 25rem;
    margin: 2.5rem auto;
    padding: 1.875rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.subtitulos__login{
    margin-bottom: 0.625rem;
    color: black;
    font-weight: 900;
}

.form-group {
    margin-bottom: 1.25rem;
    text-align: left;
}

.label__login{
    font-weight: bold;
    color: #333;

}

.form-control {
    box-sizing: border-box;
    width: 100%;
    padding: 0.625rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;

}

.error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.3125rem;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.login__cuerpo {
    margin: 3rem 0 1.5rem 0;
}

.titulo__login{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5rem;
}

.footer__login{
    position: fixed;
    bottom: 0;
    width: 100%; 
}

.footer__contacto, .footer__registro{
    position: sticky;
}

@media (min-height: 1050px){
    .footer__contacto {
        position: fixed;
        bottom: 0;
        width: 100%; 
    }
}

@media (min-height: 820px){
    .footer__registro{
        position: fixed;
        bottom: 0;
        width: 100%; 
    }
}
/* ---------------------------------------*/




.h-100vh {
    min-height: 100vh;
    height: 100vh !important;
}

.fondo-seccion {
    height: 900px;
   
}

.banderin {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 60%, 0 100%);
}

.banderin-container {
    height: 400px;

}

section {
    margin-bottom: 100px;
}

.texto-direccion {
    display: flex;
    justify-content: center;
    align-items: center;

}

.section__landing{
    max-width: 80%;
}
/*Validado por w3c*/

