
body, .header__galeria, .fondo-seccion{
    width: 100%;
   
    background: #8360c3a6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf919c, #8360c3a2), url(..assets/.imagenes/portadala.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #2ebf91a6, #8360c3b6), url(..assets/.imagenes/portadala.png); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center center;
   background-attachment: fixed;
   
  }
  

  header {
    text-align: center;
    background-color: #f8f9fa;
    max-height: 95%;
    padding: 20px;
    margin-bottom: 5%;
  }

  .table {
    border-collapse: collapse; /* Combina los bordes de las celdas adyacentes */
    width: 99%; /* Ancho de la tabla */
    background-color: white;
  }



  .table th,
  .table td {
    border: 2px solid #b5b2b2; /* Agrega un borde de 1px sólido con color gris claro a todas las celdas */
    padding: 20px; /* Espaciado interno de las celdas */
    
  }
  
  .table th {
    background-color: white; /* Color de fondo para las celdas del encabezado */
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #fafafa; /* Alterna el color de fondo para filas pares */
  }
  
 .center-table{
    margin: 0 auto;
 }