/venv312
/mientornovirtual
/PetBoutique/PetBoutique/__pycache__
/PetBoutique/PetBoutiqueApp/__pycache__

/urls.cpython-312.pyc
/settings.cpython-312.pyc
/models.cpython-312.pyc
Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/settings.cpython-312.pyc
Proyecto 2024/backend/PetBoutique/PetBoutique/__pycache__/urls.cpython-312.pyc
Proyecto 2024/backend/PetBoutique/PetBoutiqueApp/__pycache__/models.cpython-312.pyc

