asgiref==3.8.1
distlib==0.3.8
Django==4.2
django-cors-headers==4.3.1
djangorestframework==3.15.1
filelock==3.14.0
mysql-connector-python==8.4.0
mysqlclient==2.2.4
platformdirs==4.2.2
sqlparse==0.5.0
tzdata==2024.1
virtualenv==20.26.2
