body{
    margin:0;
    padding:0;
}

main{
    padding: 3rem;
}

.div_fotoPerfil{
    width: 15rem;
    height: 15rem;
    margin-bottom: 2rem;
}

.foto_perfil{
    width: 15rem;
    height: 15rem;
    margin: 0;
    object-fit: cover;
}


.editar_fotoPerfil{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    right: 0;
    transform: translate(-40%, 30%);
    width: 5rem;
    height: 5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.btn_editarFoto{
    margin: 1rem;
    border: none;
    outline: none;
}

.btn_editarFoto:focus{
    outline: none;
}

.icono_camara{
    width: 2.7rem;
    height: 2.7rem;
}

h1{
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-size: 5rem;
}

dl{
    margin: 0;
    padding: 3rem 0 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoPerfil_div{
    width: 100%;
    max-width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info_perfil img{
    width: 4rem;
    height: 4rem;
}

.info_perfil{
    font-size: 1.3rem;
}

.infoPerfil_datos{
    margin: 0 1rem;
    border:1px solid #9b59b6;
    border-radius: 5px;
    padding: 0.5rem 0 0 1rem;
    box-shadow: 6px 3px 11px rgb(0 0 0 / 12%);
    max-width: 30rem;
    height: auto;
}



