<section class="h-100 h-custom" style="background-color: #eee;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
  
              <div class="row">
  
                <div class="col-lg-7">
                  <h5 class="mb-3"><a [routerLink]="['/galeria']" class="text-body"><i
                        class="fas fa-long-arrow-alt-left me-2" ></i>Continuar comprando</a></h5>
                  <hr>
  
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <div>
                      <p class="mb-1">Carrito de compras</p>
                      <p class="mb-0">Tienes {{ productosCarrito.length }}  productos en tu carrito</p>
                    </div>
                    <div>
                      <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!"
                          class="text-body">price <i class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                  </div>
  
                  <div *ngFor="let productoCarrito of productosCarrito" class="card mb-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              src="{{ productoCarrito.producto.image_url }}" alt="producto"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{ productoCarrito.producto.nombre }}</h5>
                            <p class="small mb-0">{{ productoCarrito.producto.descripcion }}</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 100px;">
                            <h5 class="mb-0">${{ productoCarrito.producto.precio }}</h5>
                          </div>
                          <button (click)="removeFromCart(productoCarrito.id_carrito)" style="color: #cecece;">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
  
                </div>
                <div class="col-lg-5">
  
                  <div class="card bg-primary text-white rounded-3">
                    <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        <h5 class="mb-0">Detalles de tarjeta</h5>
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                          class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                      </div>
  
                      <p class="small mb-2">Tipo de tarjeta</p>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-mastercard fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-visa fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i
                          class="fab fa-cc-amex fa-2x me-2"></i></a>
                      <a href="#!" type="submit" class="text-white"><i class="fab fa-cc-paypal fa-2x"></i></a>
  
                      <form class="mt-4" [formGroup]="form" (ngSubmit)="onEnviar($event)">
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="text" id="typeName" class="form-control form-control-lg" siez="17"
                            placeholder="Nombre del dueño de la tarjeta" formControlName="name"/>
                          <label class="form-label" for="typeName">Nombre del dueño de la tarjeta</label>
                          @if (Name?.errors && Name?.touched) {
                            @if (Name?.hasError("required")) {
                              <p class="text-danger">
                                El nombre es requerido tal cual muestra en la tarjeta.
                              </p>
                            }
                          }
                        </div>
  
                        <div data-mdb-input-init class="form-outline form-white mb-4">
                          <input type="text" id="typeText" class="form-control form-control-lg" siez="17"
                            placeholder="1234 5678 9012 3457" minlength="19" maxlength="19" formControlName="cardNumber"/>
                          <label class="form-label" for="typeText">Numero de la tarjeta</label>
                          @if (Cardnumber?.errors && Cardnumber?.touched){
                            @if (Cardnumber?.hasError("required")) {
                              <p class="text-danger">
                                El numero de tarjeta es requerido.
                              </p>
                            }
                            @else if (Cardnumber?.hasError("minlength")) {
                              <p class="text-danger">
                                Número de tarjeta es requerido y debe ser de 19  dígitos (incluye espacios).
                              </p>
                            }
                          }
                        </div>
  
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="text" id="typeExp" class="form-control form-control-lg"
                                placeholder="MM/YY" size="5" id="exp" minlength="5" maxlength="5" formControlName="expiration"/>
                              <label class="form-label" for="typeExp">Expiración</label>
                              @if (Expiration?.errors && Expiration?.touched) {
                                @if (Expiration?.hasError("required")) {
                                  <p class="text-danger">
                                    Expiración es requerida 
                                  </p>
                                }
                              }
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div data-mdb-input-init class="form-outline form-white">
                              <input type="password" id="typeText" class="form-control form-control-lg"
                                placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" formControlName="cvv"/>
                              <label class="form-label" for="typeText">Cvv</label>
                              @if (Cvv?.errors && Cvv?.touched) {
                                @if (Cvv?.hasError("required")) {
                                  <p class="text-danger">
                                    Cvv es requerido
                                  </p>
                                }
                              }
                            </div>
                          </div>
                        </div>
  
                      
  
                        <hr class="my-4">
    
                        <!-- Subtotal -->
                        <div class="d-flex justify-content-between">
                          <p class="mb-2">Subtotal</p>
                          <p class="mb-2">${{ calculateSubtotal().toFixed(2) }}</p>
                        </div>

                        <!-- Descuento -->
                        <div class="d-flex justify-content-between">
                          <p class="mb-2">Descuento cupones aplicados:</p>
                          <p class="mb-2">- ${{ getDescuentoTotal().toFixed(2) }}</p>
                        </div>

                        <!-- Envío -->
                        <div class="d-flex justify-content-between">
                          <p class="mb-2">Envío</p>
                          <p class="mb-2">$20.00</p>
                        </div>

                        <hr class="my-4" />

                        <!-- Total final -->
                        <div class="d-flex justify-content-between mb-4">
                          <p class="mb-2">Total (Incl. taxes)</p>
                          <p class="mb-2">${{ calculateTotalFinal().toFixed(2) }}</p>
                        </div>

    
                        <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-info btn-block btn-lg">
                          <div class="d-flex justify-content-between">
                            <span> Finalizar compra <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                          </div>
                        </button>
                      </form>
                      <div *ngIf="errorMessage" class="error text-danger mt-2">{{ errorMessage }}</div>
                    <div *ngIf="successMessage" class="success-message">{{ successMessage }}  <button (click)="irAlDashboard()" class="btn btn-primary">Ir al Dashboard para ver tus compras</button></div>
                    </div>
                  </div>
  
                </div>
  
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
