.success-message {
    color: rgb(124, 243, 124); /* Cambia esto al color que desees */
    font-weight: bold; /* Cambia esto para ajustar el grosor */
    font-size: 16px; /* Opcional: para ajustar el tamaño de la fuente */
    margin-top: 20px; /* Opcional: para agregar espacio arriba del mensaje */
  }

  .btn {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .btn-primary {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
  }

  .envio-selected {
  background-color: #8b5cf6 !important; /* Color violeta */
  border-color: #7c3aed !important;
  color: white !important;
}

.envio-selected .badge {
  background-color: white !important;
  color: #8b5cf6 !important;
}