.body-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; 
    width: 100%;
    margin: 0;
    padding: 0;
}

/* HEADER DASHBOARD */
.header-dash, .recomendaciones-div-title{
    background-color: white;
    margin: 0;
    padding: 2rem;
}

.img-header-dash{
    width: 30rem;
    border: none;
}

.titulo-header, .recomendaciones-titulo{
    font-size: 4rem;
    font-weight: 500;
    background-image: linear-gradient(to right, #2ebf91a6, #8360c3);
    background-clip: text; 
    background-clip: text; 
    color: transparent;
}

.scale-up-hor-left {
	animation: scale-up-hor-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-left 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-hor-left {
    0% {
        transform: scaleX(0.4);
              transform: scaleX(0.4);
              transform-origin: 0% 0%;
              transform-origin: 0% 0%;
            }
    100% {
        transform: scaleX(1);
        transform: scaleX(1);
        transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }
  }
  @keyframes scale-up-hor-left {
    0% {
        transform: scaleX(0.4);
              transform: scaleX(0.4);
        transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
    100% {
        transform: scaleX(1);
              transform: scaleX(1);
        transform-origin: 0% 0%;
              transform-origin: 0% 0%;
    }
}

/*SECCION HISTORIAL*/
  
.texto-historial, .div-historial{
    background-color: #7F72C0e3;
    font-size: 3rem;
    width: 100%;
    color: rgba(0, 0, 0, 0.789);
    padding: 1rem 1rem;
    margin: 0;
}

.flecha{
    width: 2rem;
    height: auto;
}

.grow{
    transition: .5s, color .10s;
        transition: .5s, color .10s;
        transition: .5s, color .10s;
}
.grow:hover{
    transform: scale3d(1.5, 1.5, 0.3);
        transform: scale3d(1.5, 1.5, 0.3);
        transform: scale3d(1.5, 1.5, 0.3);
}
                           
/* SECCION CUPON */

.seccion-cupon{
    background-color: #53A6A6e3;
    padding: 4rem 0;
    width: 100%;
    margin: 0;
}

.titulo-cupon{
    font-size: 2rem;
    padding-top: 1rem;
}

.btn-cupon{
    font-size: 2rem;
    font-weight: 400;
    background-color: #8360c3a2;
    box-shadow: 0 0 1.8rem rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.865);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
}

.swing:hover{
    color: rgba(255, 255, 255, 0.845);
    animation-name: swing;
        animation-name: swing;
        animation-name: swing;
    animation-duration: 1s;
        animation-duration: 1s;
        animation-duration: 1s;
        background-color: #412477a2;

}

@keyframes swing {
        20% {transform: rotate3d(0, 0, 1, 15deg);}
        40% {transform: rotate3d(0, 0, 1, -10deg);}
        60% {transform: rotate3d(0, 0, 1, 5deg);}
        80% {transform: rotate3d(0, 0, 1, -5deg);}
        to  {transform: rotate3d(0, 0, 1, 0deg);}
}

.pulse {
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
  
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

/* RECOMENDACIONES */

.recomendaciones{
    background-color: white;
    margin: 0;
    padding: 1rem 0 2rem 0;
    
}

.carousel{
    width: 70%;
    background-image: linear-gradient(to right, #2ebf91a6, #8360c3);
    margin: 0;
}

.carousel-item{
      padding: 2rem 0;
}

.img-carousel{
    width: 30%;
      height: auto;
}

.titulo-card-carousel{
    color: white;
    padding: 1rem 0;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);

}

.btn-producto-carousel{
    font-size: 1.5rem;
    background-color: #8360c3;
    box-shadow: 0 0 1.8rem rgb(255, 255, 255);
    border: none;
    margin: 1rem 0;
}

.link-btn-carousel{
    text-decoration: none;
    color: white;
}

.btn-producto-carousel:hover{
    background-color: #3f2968;

}

/* RESPONSIVE */

@media (max-width: 1000px){
    .titulo-header{
        font-size: 3rem;
    }
}

@media (max-width: 995px){
    .titulo-cupon{
        font-size: 1.2rem;
    }

    .btn-cupon{
        font-size: 1.2rem;
        padding: 0.5rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 829px){
    .div-header-dash{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .recomendaciones-titulo{
        font-size: 3rem;
    }
}

@media (max-width:690px){
    .seccion-cupon{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-cupon{
        width: 30%;
        text-align: center;
    }
}

@media (max-width:550px){
    .titulo-cupon{
        font-size: 1rem;
    }

    .btn-cupon{
        font-size: 1rem;
        padding: 0.3rem;
        margin-top: 0.5rem;
    }

    .texto-historial, .div-historial{
        font-size: 2rem;
    }

    .btn-producto-carousel{
        font-size: 1rem;
    }
}

@media (max-width:490px){
    .titulo-cupon, .btn-cupon{
        font-size: 0.8rem;
    }

    
    .texto-historial, .div-historial{
        font-size: 1.5rem;
    }

    .recomendaciones-titulo{
        font-size: 2rem;
    }

    .seccion-cupon{
        padding: 2rem 0;
    }

    .flecha{
        width: 1.5rem;
    }
}

@media (max-width:340px){
    .titulo-cupon, .btn-cupon{
        font-size: 0.5rem;
    }

    .recomendaciones-titulo, .titulo-header, .texto-historial, .div-historial{
        font-size: 1.2rem;
    }

    .seccion-cupon{
        padding: 1rem 0;
    }

    .flecha{
        width: 1rem;
    }
}
