
<body class="body-historial">

    <div class="container d-flex">
        <input type="checkbox" id="toggle-filter">
        <label for="toggle-filter" class="btn btn-primary filter-button">Filtrar búsqueda</label>
        <form id="filter-form" class="filter-form">
            <input type="text" id="keyword" placeholder="Palabra clave">
            <input type="date" id="start-date">
            <input type="date" id="end-date">
            <input type="number" id="max-amount" placeholder="Monto máximo">
            <button type="submit">Filtrar</button>
        </form>
    </div>


            <div class="card d-flex" *ngFor="let pedido of historialPedidos" >
                <img src="../../../../assets/imagenes/Dashboard/pedidos.png" alt="Imagen 1" class="img-pedidos">
                <div class="card-content" *ngIf="nombreUsuarioLogin">
                    <h1>{{nombreUsuarioLogin}}</h1>
                    <h2>{{pedido.id_pedido}}</h2>
                    <p>{{pedido.nombre_usuario}}</p>
                    <p>{{pedido.fecha}}</p>
                    <div class="button-group">
                        <button class="view-button"><a routerLink="/dashboard/historial-compras/detalle-compra" class="text-decoration-none" style="color:white;">Ver compra</a></button>
                        <button class="buy-again-button">Volver a comprar</button>
                    </div>
                </div>
            </div>
</body>