<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="historial-compras.component.css">
    <title>Historial de Compras</title>
</head>
<body class="body-historial w-100">
    <div class="card-header">
        Historial de Compras
    </div>
    <div class="container">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Imagen 1">
            <div class="card-content">
                <h2>Pedido # 200224</h2>
                <p>Compra: Cucha de Perro y Vertedero</p>
                <p>1 de Mayo del 2024</p>
                <div class="button-group">
                    <button class="view-button">Ver compra</button>
                    <button class="buy-again-button">Volver a comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Imagen 1">
            <div class="card-content">
                <h2>Pedido # 824332</h2>
                <p>Compra: Rascador</p>
                <p>24 de Abril del 2024</p>
                <div class="button-group">
                    <button class="view-button">Ver compra</button>
                    <button class="buy-again-button">Volver a comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Imagen 1">
            <div class="card-content">
                <h2>Pedido # 075976</h2>
                <p>Compra: 2 Trasportadores </p>
                <p>23 de Marzo del 2024</p>
                <div class="button-group">
                    <button class="view-button">Ver compra</button>
                    <button class="buy-again-button">Volver a comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Imagen 1">
            <div class="card-content">
                <h2>Pedido # 980159</h2>
                <p>Compra: Correa</p>
                <p>09 de Febrero del 2024</p>
                <div class="button-group">
                    <button class="view-button">Ver compra</button>
                    <button class="buy-again-button">Volver a comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <img src="https://via.placeholder.com/300x200" alt="Imagen 1">
            <div class="card-content">
                <h2>Pedido # 832654</h2>
                <p>Compra: Collar para Perro</p>
                <p>02 de Febrero del 2024</p>
                <div class="button-group">
                    <button class="view-button">Ver compra</button>
                    <button class="buy-again-button">Volver a comprar</button>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>