.cupon-titulo{
    background-image: linear-gradient(to right,#0f6767e3, #53A6A6e3 );
    color: white;
    padding: 2rem 0;
    margin: 0;
}

.cupon-container{
    background-image: linear-gradient(#53A6A6e3, #2ebf919c);
    width: 100%;
    height: auto;
    margin:0;
    padding: 3rem;
}

.card-cupones{
    background-color: #cdfdfde3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.565);

}

.cupon-img{
    padding: 0.7rem 0;
}

.card-title{
    background-color: #0f6767e3;
    color: white;
    padding: 1rem;
    width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.565);
}

.btn-cupones{
    background-image: linear-gradient(to right,#0f6767e3, #2ebf919c);
    border: none;
}

.btn-cupones:hover{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.449);
    background-image: linear-gradient(to right,#679a9ae3, #72c1a89c);
    color: rgba(0, 0, 0, 0.869);

}

.producto-detalle-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal-content {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    position: relative;
    max-width: 400px;
  }
  
  .close {
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .animate-fade {
    animation: fadeIn 0.3s ease-in-out;
  }

  .card-cupones.reclamado {
    background-color: #d3d3d3; 
    filter: grayscale(80%);
    pointer-events: none; 
    opacity: 0.7;
}

.btn-cupones.reclamado-btn {
    background-color: #414040;
    background-image: none;
    cursor: not-allowed;
    color: white;
    box-shadow: none;
}

  
  @keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
  }
  

@media (max-width: 1200px){
    .card-cupones{
        margin: 1rem 0;
        height: 390px;
    }
}

@media (max-width: 1000px){
    .cupon-container{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px){
    .cupon-container{
        flex-direction: column;
    }

    .card-cupones{
        height: 400px;
    }
}