<div class="container-fluid container-detalles d-flex flex-column" >
    <h1 class="text-lg font-semibold titulo-detalles">Detalle de compra N°: {{idPedido}}</h1>
    <h2 class="align-self">Productos:</h2>
    @for (producto of productosConNombres; track $index) {
        <div class="div-productosNombres" *ngIf="producto.producto.id_pedido === idPedido">
            <p>{{producto.producto.cantidad}}</p>
            <p class="text-left">{{ producto.nombre }}</p>
            <p class="text-right">${{producto.producto.precio}}</p>
        </div>
            
    }
    <div class="div-total">
        <h3 class="total">Total compra: </h3>
        <h3 class="total-precio">${{totalCompra}}</h3>
    </div>
</div>