.container-detalles {
    width: 100%;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    margin: 2rem 0;
    justify-content: flex-start;
}

.titulo-detalles{
    text-align: center;
    padding-bottom: 1rem;
}

.div-productosNombres{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
}

.div-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 1rem;

}
