body{
    font-family: 'Poppins', sans-serif;
}

.titulo-detalles {
  color: #212529;
}

.producto-item {
  transition: background-color 0.2s;
}

.producto-item:hover {
  background-color: #f8f9fa;
}

.producto-cantidad {
  width: 40px;
}

.producto-precio {
  width: 80px;
}

.div-total {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
}

.total-precio {
  color: #0d6efd;
}