<body class="body__landing">
    <main class="main__home">
        <section
            class="text-center h-100vh fondo-seccion text-center d-flex flex-row align-items-center justify-content-center m-0 p-0 position-relative">
            <div class="bannerImgs d-flex flex-row p-0 m-0">
                <div class="position-absolute top-0 start-0 m-0 p-0" style="z-index: 10;">
                    <!-- SVG Bandera que toca el tope -->
                    <svg width="30rem" height="95vh" viewBox="0 0 100 150" xmlns="http://www.w3.org/2000/svg"
                        preserveAspectRatio="none">
                        <path d="M10 0 L90 0 L90 120 L50 100 L10 120 Z" fill="white" />
                    </svg>

                    <!-- Imagen superpuesta -->
                    <img src="../../../assets/imagenes/Pet_Boutique2.png" alt="Pet Boutique Logo"
                        class="position-absolute"
                        style="top: 7rem; left: 50%; transform: translateX(-50%); max-width: 80%; height: auto;">
                </div>

                <!-- Imagen del perro -->
                <div class="d-flex align-items-center justify-content-center ">
                    <img src="../../../assets/imagenes/Home/perro home.png" alt="Perro" class="perroInicio-img">
                </div>

            </div>

            <!-- Contenido de texto -->
            <div class="d-flex flex-column text-center text-white textos-banner me-3">
                <h1 class="bold mb-3 titulo-banner-home">AMAR TAMBIÉN ES CUIDAR</h1>
                <h3>Encontrá variedad de productos para tus mascotas</h3>
            </div>
        </section>

        <section class="container mt-5 section__landing">
            <h1 class="text-center pt-5">Sobre Nosotros</h1>
            <div class="row contenido__sobreNs">
                <div class="col-md-5 col-xs-12 div__img-sobreNs">
                    <img src="assets/imagenes/mujer.jpg" alt="a" width="500" height="400" class="imagen-sobre-nos">
                </div>
                <div class="col-md-7 col-xs-12 pt-5 text-center">
                    <h3>La mejor opción</h3>
                    <p class="pt-3">Somos un equipo de amantes de los animales que entiende la importancia de
                        proporcionar a
                        las
                        mascotas el mejor cuidado y atención. En PetBoutique, nos enorgullece ofrecer productos
                        seleccionados
                        cuidadosamente para garantizar la satisfacción tanto de los dueños como de sus queridas
                        mascotas. Nuestra
                        pasión por los animales nos impulsa a brindar un servicio excepcional y una selección diversa de
                        productos
                        que hacen que la vida de los perros sea aún más emocionante y cómoda.<br>Nuestro compromiso es
                        brindarte
                        productos de alta calidad que combinen estilo y funcionalidad. Ya sea que estés buscando un
                        regalo especial
                        para tu mejor amigo peludo o simplemente quieras mimarlo un poco más, en PetBoutique estamos
                        aquí para
                        ayudarte.</p>
                </div>
            </div>
        </section>

        <section class="mt-5 container section__landing">
            <div class="row div__direccion_home position-relative">
                <div class="col-sm-5 col-xs-12 top-0 start-50">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13621.089635589291!2d-64.20698050449255!3d-31.40661994842939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432987e1d449115%3A0x97882a527eaebab1!2sVeterinaria%20Alem%20Sucursal%20Col%C3%B3n!5e0!3m2!1ses-419!2sar!4v1694734416873!5m2!1ses-419!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-sm-7 col-xs-12 text-center texto__direccion-home position-absolute top-0 end-0">
                    <h3>Encontranos en nuestro local</h3>
                    <p> Dirección: 123 Calle de las Mascotas, Ciudad Mascotaville</p>
                </div>
            </div>
        </section>
    </main>
</body>