.perroInicio-img{
    margin-left:26.2rem;
    margin-top:17rem;
}

.titulo-banner{
    font-size:6rem;
}

@media (max-width: 1100px) {

    .titulo-banner {
        font-size: 4rem;
        text-align: center;
    }
}

.fondo-seccion {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 970px) {
    .fondo-seccion {
        flex-direction: column;
    }
    .bannerImgs {
        order: 1;
    }
    .textos-banner {
        order: 2;
    }
}