<main>
    <section class="text-center h-100vh fondo-seccion">
      <div class="row">
        <div class="col text-center banderin">
          <div class="banderin-container">
            <img src="assets/Imagenes/Logo/PetBoutique.png" alt="Logo de Pet Boutique" class="logo" width="300" height="300">
          </div>
        </div>
      </div>
      <h1 class="titulo text-white text-bold">Variedad de productos para mascotas</h1>
    </section>
  
    <section class="container mt-5 section__landing">
      <h1 class="text-center pt-5">Sobre Nosotros</h1>
      <div class="row">
        <div class="col-md-5 col-xs-12">
          <img src="assets/Imagenes/Logo/mujer.jpg" alt="a" width="500" height="400" class="imagen-sobre-nos">
        </div>
        <div class="col-md-7 col-xs-12 pt-5 text-center">
          <h3>La mejor opción</h3>
          <p class="pt-3">Somos un equipo de amantes de los animales que entiende la importancia de proporcionar a
            las
            mascotas el mejor cuidado y atención. En PetBoutique, nos enorgullece ofrecer productos seleccionados
            cuidadosamente para garantizar la satisfacción tanto de los dueños como de sus queridas mascotas. Nuestra
            pasión por los animales nos impulsa a brindar un servicio excepcional y una selección diversa de productos
            que hacen que la vida de los perros sea aún más emocionante y cómoda.<br>Nuestro compromiso es brindarte
            productos de alta calidad que combinen estilo y funcionalidad. Ya sea que estés buscando un regalo especial
            para tu mejor amigo peludo o simplemente quieras mimarlo un poco más, en PetBoutique estamos aquí para
            ayudarte.</p>
        </div>
      </div>
    </section>
  
    <section class="mt-5 container section__landing">
      <div class="row">
        <div class="col-sm-5 col-xs-12">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13621.089635589291!2d-64.20698050449255!3d-31.40661994842939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432987e1d449115%3A0x97882a527eaebab1!2sVeterinaria%20Alem%20Sucursal%20Col%C3%B3n!5e0!3m2!1ses-419!2sar!4v1694734416873!5m2!1ses-419!2sar"
            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-sm-7 col-xs-12 text-center ">
          <h3>Encontranos en nuestro local</h3>
          <p> Dirección: 123 Calle de las Mascotas, Ciudad Mascotaville</p>
        </div>
      </div>
    </section>
  </main>
  
