.perroInicio-img {
    margin-left: 26.8rem;
    margin-bottom: 7rem;
}

.titulo-banner-home {
    font-size: 6rem;
}

.textos-banner {
    width: 100%;
}

/* Adaptación para pantallas menores a 1100px */
@media (max-width: 1100px) {
    .titulo-banner-home {
        font-size: 4rem;
        text-align: center;
    }
}

/* ESTO CAMBIA TODO cuando la pantalla es menor o igual a 1380px */
@media (max-width: 1200px) {
    .fondo-seccion {
        flex-direction: column !important;
        /* para centrar verticalmente en columna */
    }

    .perroInicio-img {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 20rem;
    }

    .textos-banner {
        margin-top: 6rem;
    }
}